body{
    color: #fff;
    margin: 0;
    text-align: center;
    background: #000;
    cursor: crosshair;
}

.header{
    top: 42%;
}

.disable-selection{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}


